<div class="app-container">
  <div class="meeting-container">
    <mat-toolbar color="primary">
      <span>Telepresence App</span>
    </mat-toolbar>

    <div class="main-display">
      <video *ngIf="localParticipant" #localVideo autoplay muted></video>
      <div class="video-grid" *ngIf="showParticipants">
        <video *ngFor="let participant of participants" #participantVideo autoplay></video>
      </div>

      <div class="controls-container">
        <button mat-raised-button (click)="toggleVideo()">
          <img [src]="'./assets/video.svg'" alt="Toggle Video" />
        </button>
        <button mat-raised-button (click)="toggleMic()">
          <img [src]="'./assets/muted.svg'" alt="Toggle Mic" />
        </button>
        <button mat-raised-button (click)="toggleParticipants()">
          <img [src]="'./assets/user.svg'" alt="Toggle Participants" />
        </button>
      </div>
    </div>

    <div class="participants-list" *ngIf="showParticipants">
      <mat-list>
        <mat-list-item *ngFor="let participant of participants">
          <mat-icon>person</mat-icon>
          {{ participant.name }}
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
