<div class="app-container">
  <!-- Titel-Banner -->
  <div class="title-bar">Telepräsenz-App</div>

  <div class="meeting-container">
    <div class="main-display">
      <div class="video-wrapper">
        <div class="local-video-wrapper">
          <video #localVideo autoplay muted></video>
        </div>
        <div class="video-grid">
          <video *ngFor="let participant of participants" #participantVideo [attr.data-id]="participant.id"></video>
        </div>
      </div>

      <div class="controls-container">
        <button (click)="toggleVideo()">
          <img src="assets/video.svg" alt="Toggle Video">
        </button>
        <button (click)="toggleMic()">
          <img src="assets/muted.svg" alt="Toggle Mic">
        </button>
        <button (click)="toggleParticipantList()">
          <img src="assets/user.svg" alt="Participants">
        </button>
      </div>
    </div>

    <div class="participants-list" *ngIf="showParticipants">
      <div class="participants-banner">Teilnehmerliste</div>
      <div class="participant-wrapper" *ngFor="let participant of participants">
        <div class="participant-name">{{ participant.name }}</div>
        <div class="participant-status">
          <div class="status-icons">
            <img class="status-icon" src="assets/muted.svg" *ngIf="!participant.audioEnabled" alt="Audio Enabled">
            <img class="status-icon" src="assets/lightbulb.svg" *ngIf="!participant.recognized" alt="User recognized">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
